{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Information"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=upstock_db;Username=username;Password=password;"
  },
  "Jwt": {
    "Issuer": "UpStockAPI-Dev",
    "Audience": "UpStockClient-Dev"
  },
  "AllowedHosts": "*"
}