{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=upstock_db;Username=username;Password=your_password;"
  },
  "AllowedHosts": "api.upstock.com;upstock.com"
}