{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=upstock_db;Username=TU_USUARIO;Password=TU_CONTRASEÑA;"
  },
  "Jwt": {
    "Issuer": "UpStockAPI",
    "Audience": "UpStockClient"
  },
  "AllowedHosts": "api.upstock.com;upstock.com"
}